<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<form id="formAula" class="form-horizontal" data-th-action="@{/aula}" data-th-object="${aulaForm}" data-th-method="POST">
		<table>
			<thead>
				<tr>
					<th>Numero Aula</th>
					<th>Max Alumnos</th>
				</tr>	
			</thead>
			<tbody>
				<tr data-th-each="aula : *{aulas}"
						data-th-attr="data-id=${aula.idAula}">
					<td data-th-text="${aula.numeroAula}"></td>
					<td data-th-text="${aula.maxAlumnos}"></td>	
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>